<tr>
  <td><%= shelter.name %></td>
  <td><%= shelter.description %></td>
  <td><%= shelter.beds %></td>
  <td><%if shelter.fee %>None<% else %>Call for info<% end %></td>
  <td><%if shelter.age_min > 0 && shelter.age_max == 0 %>
        <%= shelter.age_min %> and up 
      <% elsif shelter.age_min == 0 && shelter.age_max == 0 %>
        No restrictions
       <% elsif shelter.age_min == 0 && shelter.age_max > 0 %>
         <%= shelter.age_max %> and under 
       <% elsif shelter.age_min > 0 && shelter.age_max > 0 %>
         <%= shelter.age_min %> to <%= shelter.age_max %>
       <% end %></td>
  <td>Female</td>
  <td>Breakfast, Dinner</td>
  <td><%= shelter.phone %></td>
  <td><%= shelter.address %></td>
</tr>
