<tr>
  <td><%= shelter.name %></td>
  <td><%= shelter.description %></td>
  <td><%= shelter.beds %></td>
  <td><%= shelter.fee %></td>
  <td><%= shelter.age_min %> - <%= shelter.age_max %></td>
  <td>Female</td>
  <td>Breakfast <br/> Dinner</td>
  <td><%= shelter.phone %></td>
  <td>123 W Fubar Ave. Chicago, Il</td>
</tr>
