<!DOCTYPE html>
<html>
  <head>
    <title>Shelterme</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "refills/navigation" %>

<<<<<<< HEAD
    <section>
      <%= yield %>
    </section>
=======
<section>
  
  <%= notice %>
  <%= alert %>
  <br>
  <%= yield %>
  
</section>
>>>>>>> 550c6bbf803e437fa7bb954a6633d82e3dd09cd1

    <%= render partial: "refills/footer_2" %>

  </body>
</html>
